.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.header .hd_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 119px;
}

.header h1 a {
    display: flex;
}

.header h1 img {
    height: 40px;
}

.header .gnb a {
    display: block;
    white-space: nowrap;
}

.header .gnb>ul {
    display: flex;
    gap: 72px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li>a {
    line-height: 119px;
    font-size: 18px;
    color: #fff;
}

.header .gnb>ul>li ul {
    position: absolute;
    top: 80px;
    left: 50%;
    background: #fff;

    transform: translate(-50%, 0);

    padding: 16px 0;
    border-radius: 16px;

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.header .gnb>ul>li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 24px);
}

.header .gnb>ul>li ul a {
    padding: 0 40px;
    text-align: center;
    line-height: 40px;
}

.header .utils {
    display: flex;
    gap: 40px;
}

.header .utils a {
    position: relative;
    color: #fff;
}

.header .utils a~a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;

    width: 2px;
    height: 2px;

    background: #fff;
    border-radius: 50%;

    transform: translate(0, -50%);
}

.main_visual {
    position: relative;
}

.main_visual .main_visual_slide {
    border-radius: 0 0 200px 0;
}

.main_visual .main_visual_slide .itm {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.main_visual .main_visual_slide .itm .bg {
    position: absolute;
    inset: 0 0 0 0;
}

.main_visual .main_visual_slide .itm01 .bg {
    background: url(../images/img_visual01.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm02 .bg {
    background: url(../images/img_visual02.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm .txt {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.main_visual .main_visual_slide .itm .txt p {
    margin-top: 80px;
    color: #fff;
    text-align: center;

}

.main_visual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    max-width: 1600px;
    width: 100%;

    transition: 0.4s;
}

.main_visual:hover .arrows {
    max-width: 1500px;
}

.main_visual .arrows button {
    position: absolute;
    top: 0;
    transform: translate(0, -50%);

    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 50%;

    font-size: 0;
}

.main_visual .arrows .prev {
    left: 0;
    background-image: url(../images/arrow-left.svg);
}

.main_visual .arrows .next {
    right: 0;
    background-image: url(../images/arrow-right.svg);
}

.main_visual .icon_wrap {
    position: relative;
}

.main_visual .icon_wrap a {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    background: #09847F;

    transform: translate(0, -50%);

    width: 180px;
    height: 180px;

    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_visual .icon_wrap a::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: #09847F;
    border-radius: 50%;
}

.main_visual .icon_wrap a img {
    height: 40px;
}

.main_visual .icon_wrap a p {
    font-size: 18px;
    font-weight: 600;
    color: #fff;

    text-align: center;
    margin-top: 16px;
}